<script type="text/javascript">
<!--
	var yhm = app.getYhm();
	$("#yhm").html(yhm);
//-->
</script>

<div class="header">
  <div class="container-fluid">
    <div class="row">
		<div class="logo">
    	  <a href="#"><img src="/static/biz/images/logo.png"></a>
        <span>乐财税</span>
		</div>
      <div class="header-photo">
      <input name="" placeholder="请输入客户名称、编码" class="header-search">
      <span class="glyphicon glyphicon-search search-icon"></span>
        <a href="/apps/ucenter/profile/updateImage.html" class="picture">
			<img id="user-photo" src="">
			<span id="yhm"></span>
		</a>
       <a href="/apps/ucenter/profile/updatePassword.html">修改密码</a><b>|</b><a href="#" class="news-number"><span class="news">1</span>消息</a><b>|</b><a href="/login/logout">退出</a>
      </div>
    </div>
   </div>
</div>
